<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Div-wang</title>
    {% include 'static/common.html' %}
</head>

<body>
	<section class="main">
		{% include 'common/menu.html' %}
		<section class="main-right">
			<div class="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<a href="index.html"><i class="glyphicon glyphicon-home"></i> 主页</a>
					</li>
					<li class="active">会员卡</li>
				</ul>
			</div>
			<section class="main-search">
				<div class="col-md-12">
					<div class="col-md-3">
						<div class="input-group">
							<label class="input-group-addon">卡号类型：</label>
							<select id="cardType" class="form-control">
								<option value="0">全部</option>
								<option value="1">8折卡</option>
								<option value="2">9折卡</option>
								<option value="3">年卡</option>
								<option value="4">洗头卡</option>
							</select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="input-group">
							<label class="input-group-addon">姓名：</label>
							<input type="text" id="name" class="form-control" placeholder="请输入姓名查询" value="">
						</div>
					</div>
					<div class="col-md-3">
						<div class="input-group">
							<label class="input-group-addon">会员卡号：</label>
							<input type="text" id="cardNo" class="form-control" placeholder="请输入会员卡号" value="">
						</div>
					</div>
					<div class="col-md-1">
						<input type="button" id="search" class="btn btn-primary" value="查询">
					</div>
				</div>
			</section>
			<section class="main-box">
				<div class="main-table"></div>
				<div class="main-page"></div>
				<h3 class="main-tips text-center">没有查询到会员卡信息</h3>
			</section>
		</section>
	</section>
    {% include 'static/card-js.html' %}
</body>

</html>
