<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Div-wang</title>
    {% include 'static/common.html' %}
</head>

<body>
	<section class="main">
		{% include 'common/menu.html' %}
		<section class="main-right">
			<div class="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<a href="index.html"><i class="glyphicon glyphicon-home"></i> 主页</a>
					</li>
				</ul>
			</div>
			<section class="main-box">
				<div class="main-tab">
					<a href="card.html" title="会员卡管理"><span class="glyphicon glyphicon-credit-card"></span><sapn class="text">会员卡管理</sapn></a>
					<a href="person.html" title="会员管理"><span class="glyphicon glyphicon-user"></span><sapn class="text">会员管理</sapn></a>
					<a href="cardAdd.html" title="会员创建"><span class="glyphicon glyphicon-plus"></span><sapn class="text">创建会员</sapn></a>
					<div class="clearfix"></div>
				</div>
				<div style="width:100%;text-align: center;margin-top:100px">
				<iframe allowtransparency="true" frameborder="0" width="877" height="100" scrolling="no" src="http://tianqi.2345.com/plugin/widget/index.htm?s=2&z=3&t=1&v=0&d=5&bd=1&k=0080ff&f=&q=1&e=1&a=1&c=a107917&w=877&h=100&align=center"></iframe>
				</div>
			</section>
		</section>
	</section>
    {% include 'static/index-js.html' %}
</body>

</html>
