<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Div-wang</title>
    {% include 'static/common.html' %}
</head>

<body>
	<section class="main">
		{% include 'common/menu.html' %}
		<section class="main-right">
			<div class="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<a href="index.html"><i class="glyphicon glyphicon-home"></i> 主页</a>
					</li>
					<li class="active">会员信息</li>
				</ul>
			</div>
			<section class="main-search">
				<div class="col-md-12">
					<div class="col-md-3">
						<div class="input-group">
							<label class="input-group-addon">姓名：</label>
							<input type="text" id="name" class="form-control" placeholder="请输入姓名查询" value="">
						</div>
					</div>
					<div class="col-md-3">
						<div class="input-group">
							<label class="input-group-addon">手机号：</label><input type="text" value="" id="phone" class="form-control" placeholder="请输入手机号">
						</div>
					</div>
					<div class="col-md-1">
						<input type="button" id="search" class="btn btn-primary" value="查询">
					</div>
					<div class="col-md-1">
						<a href="personAdd.html" title="创建会员" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a>
					</div>
				</div>
			</section>
			<section class="main-box">
				<div class="main-table"></div>
				<div class="main-page"></div>
				<h3 class="main-tips text-center">没有查询到会员信息</h3>
			</section>
		</section>
	</section>
    {% include 'static/list-js.html' %}
</body>

</html>
