@charset "UTF-8";
body {
    font: 13px/1.4  "Microsoft Yahei", Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
}

a {
    color: #333;
    text-decoration: none;
}

.clearfix:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
}

.main {
    width: 100%;
    /*padding: 0 10px;*/
    margin: 0 auto;
    position: relative;
}

.header {
    background-color: #fff;
    height: 60px;
    border-bottom: solid 2px #dd514c;
}
.header .login{
    padding: 15px;
    margin: 0;
    line-height: 1;

}

.main-left {
    padding: 0;
    background: #2e2d2b;
    border-right: solid 1px #1a2224;
    width: 60px;
    position: absolute;
    box-sizing: border-box;
}

.main-left > .nav > li > a {
    color: #92908d;
    padding: 8px 15px;
    font-size: 20px;
    border-left: 3px solid #2e2d2b;
}

.main-left > .nav > li > a:hover,
.main-left > .nav > li > a:focus{
    background: #2e2d2b;
    color: #f57c00;
}
.main-left > .nav > li > a.active {
    text-decoration: none;
    color: #f57c00;
    border-left: 3px solid #f57c00;
}

.main-right {
    margin-left: 60px;
    box-sizing: border-box;
}
.main-search{
    overflow: auto;
}
.main-tab {
    margin: 100px auto 0;
    width: 300px;
}
.main-tab a{
    font-size: 50px;
    display: block;
    width: 100px;
    text-align: center;
    float: left;
    margin: 0 25px;
}
.main-tab .text{
    display: block;
    font-size: 20px;
}
.main-table{
    padding: 30px 30px 0;
}
.main-page{
    padding: 0 30px;
}
.input-box{
    width: 100%;
    margin: 20px 0;
    padding-right: 20px;
}
.input-box label{
    width: 25%;
    text-align: right;
    display: inline-block;
    font-size: 18px;
    font-weight: 900;
}
.input-edit{
    width: 40%;
    display: inline-block;
}
.input-err{
    width: 25%;
    display: inline-block;
    color: #f00;
}
.input-button{
    width: 50%;
    display: inline-block;
}


/*提醒动画*/

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(30deg);
    }
    5% {
        -webkit-transform: rotate(0deg);
    }
    10% {
        -webkit-transform: rotate(-30deg);
    }
    15% {
        -webkit-transform: rotate(0deg);
    }
    20% {
        -webkit-transform: rotate(30deg);
    }
    25% {
        -webkit-transform: rotate(0deg);
    }
}

.loading {
    position: fixed;
    top: 50px;
    left: 20px;
    border: 1px solid #d9534f;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: none;
}

.loading.cur {
    display: block;
}

.loading .tips {
    -webkit-animation-name: loading;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

.tips {
    width: 90%;
    text-align: center;
    overflow: hidden;
    padding: 5px 20px;
    font-size: 20px;
    color: #fff;
    position: fixed;
    top: 0px;
    left: 60px;
    background-color: #5bc0de;
    border-color: #46b8da;
    box-shadow: 0px 10px 10px #eee;
}

.tips.seccuss {
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.tips.fail {
    background-color: #d9534f;
    border-color: #d43f3a;    
}

.tips.warning {
    background-color: #f0ad4e;
    border-color: #eea236;
}
