@charset "UTF-8";
body {
  font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0; }

a {
  color: #333;
  text-decoration: none; }

.clearfix:after {
  content: '';
  display: block;
  visibility: hidden;
  clear: both;
  height: 0; }

.container {
  width: 100%;
  padding: 0 10px;
  margin: 0 auto;
  position: relative; 
}

.header {
  background-color: #fff;
  height: 50px;
  line-height: 50px;
  padding-top: 20px;
  border-bottom: solid 2px #dd514c; }

/*提醒动画*/

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(30deg);
    }
    5% {
        -webkit-transform: rotate(0deg);
    }
    10% {
        -webkit-transform: rotate(-30deg);
    }
    15% {
        -webkit-transform: rotate(0deg);
    }
    20% {
        -webkit-transform: rotate(30deg);
    }
    25% {
        -webkit-transform: rotate(0deg);
    }
}

.loading {
    position: fixed;
    top: 50px;
    left: 20px;
    border: 1px solid #d9534f;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: none;
}

.loading.cur {
    display: block;
}

.loading .tips{
    -webkit-animation-name: loading;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}


.tips{
  width: 300px;
  height: 60px;
  line-height: 50px;
  text-align: 50px;
  overflow: hidden;
  padding: 20px;
  font-size: 30px;
}
.tips.seccuss{
  background-color: green;
}
.tips.fail{
  background-color: red;
}
.tips.warning{
  background-color: yellow;
}